# List the node attributes here so that they can be attached as
# metadata to your chef data on Signalfx.
#
# Be sure to list the exact attribute name
# For example: list chef_environment to add environment as metadata
# 
# if you want to add subattribute as metadata, separate each token in 
# subattribute chain by a '.'.
# For example: To add python version under languages as metadata, 
# Add languages.python.version to this file
#
# For more attributes, Use Chef Server web UI or
# knife node show -l <node_name>

chef_environment
roles
tags
languages.python.version1